<table class ="table table-bordered table-striped">
	<tr>
		<td>Sandwich Type</td>
		<td>Day Ordered</td>
	</tr>
<% if @sandwiches %>
<% current_user.sandwiches.each do |sandwich| %>
	<tr>
		<td><strong><%= sandwich.sandwich_type %></strong></td>
		<td><strong><%= sandwich.created_at %></strong></td>
	</tr>
<% end %>
<% end %>
</table>
<%= link_to "Make a Sandwich", new_sandwich_path, class: "btn btn-primary btn-large make-btn" %>
