<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    GIVE ME A <%= "#{@sandwich.type.upcase}" %> SANDWICH
    <br />
    <br />
    <%= @inspirational_quote  %>
  </body>
</html>