<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
   <h1>GIVE ME A <%= "#{@sandwich.sandwich_type.upcase}" %> SANDWICH</h1>
    <br />
    <br />
    <blockquote><p><%= @inspirational_quote  %></p></blockquote>
  </body>
</html>